body{
    background-color: #181a1b;

    margin-top: 2%;
}

.main_container {
    display: grid;
    width: 600px;
    margin: 0 auto;      
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 30% auto;
    background-color: rgb(46, 28, 7);
    border-radius: 2%;
    grid-gap: 2%;
}
.main_container > div {
    background-color: #2b0c0c;
    text-align: left;
}
.logo {
    grid-area: 1 / 1 / 4 / 1;
    width: 150px;
    height: 150px;
    object-fit: fill;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.title {
    grid-area: 1 / 2 / 1 / 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    place-items: left;
}
.intro {
    grid-area: 2 / 2 / 2 / 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10;
}

.the_rest {
    grid-area: 3 / 2 / auto / 3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons{
    display: flex;
    height: 100px;
    justify-content: space-between;
    flex-direction: column;
}


.socials_container {
    display: grid;
    width: 600px;
    margin: 0 auto;      
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    background-color: rgb(46, 28, 7);
    border-radius: 2%;
    grid-gap: 2%;
}

.socials_container > div {
    background-color: #2b0c0c;
    text-align: left;
}

.socials_text1{
    grid-area: 1 / 1 / 1 / 1;
    text-align: center;
}
.social1{
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 40px;
}

.socials_text2{
    grid-area: 1 / 2 / 1 / 2;
    text-align: center;
}
.social2{
    grid-area: 2 / 2 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 40px;
}