body{
    background-image: linear-gradient(to bottom right, #93b5af, #7a565b, #e54348);
    margin-top: 30px;
}

.main_container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;      
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 30% auto;
    background-image: linear-gradient(to bottom right, #544154, #332832);
    border-radius: 20px;
    grid-gap: 2%;
}
.main_container > div {
    text-align: left;
}
.logo {
    grid-area: 1 / 1 / 4 / 1;
    width: 150px;
    height: 150px;
    object-fit: fill;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.title {
    grid-area: 1 / 2 / 1 / 2;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #bbb6df;
    place-items: left;
}
.intro {
    grid-area: 2 / 2 / 2 / 2;
    margin-right: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10;
    color: #bbb6df;
}

.the_rest {
    grid-area: 3 / 2 / auto / 3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.buttons{
    grid-area: 4 / 2 / 4 /2;
    display: flex;
    height: 150px;
    margin-right: 40px;
    justify-content: space-between;
    flex-direction: column;
}



.socials_container{
    display: grid;
    width: 600px;
    height: 150px;
    margin: 0 auto;      
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
    background-image: linear-gradient(to bottom right, #544154, #332832);
    border-radius: 20px;
    grid-gap: 2%;
}
.socials_container > div {
    text-align: center;
}

.socials_title{
    margin-top: 30px;
    color: #bbb6df;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.socials_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.socials_ico{
    width: 40px;
    height: 40px;
}

button{
    height: 50px;
    border-radius: 30px;
    background-color: #d46f57;
    color: #ffffff;
    text-align: left;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #e7a290;
}