body{
    background-image: linear-gradient(to bottom right, #93b5af, #7a565b, #e54348);
    margin-top: 30px;
}

/* This is the main body*/
.main_container {
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;      
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 30% auto;
    background-image: linear-gradient(to bottom right, #544154, #332832);
    border-radius: 20px;
    grid-gap: 2%;
}
.main_container > div {
    text-align: left;
}
.logo {
    grid-area: 1 / 1 / 4 / 1;
    width: 150px;
    height: 150px;
    object-fit: fill;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.title {
    grid-area: 1 / 2 / 1 / 2;
    margin-top: 10px;
    margin-bottom: -100px;
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    color: #bebfe5;
    place-items: left;
}
.intro {
    grid-area: 2 / 2 / 2 / 2;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: -50px;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10;
    color: #e4e8f7;
}

.the_rest {
    margin-bottom: -30px;
    grid-area: 3 / 2 / auto / 3;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttons{
    grid-area: 4 / 2 / 4 /2;
    display: flex;
    height: 170px;
    margin-right: 40px;
    justify-content: space-between;
    flex-direction: column;
}

button{
    height: 50px;
    border-radius: 30px;
    border-style: hidden;
    background-color: #c0563b;
    color: #ffffff;
    text-align: left;
    transition-duration: 0.4s;
}

button:hover{
    background-color: #e16648;
}


/* This is the fotter with social media links*/
.socials_container{
    display: grid;
    width: 600px;
    height: 150px;
    margin: 0 auto;      
    grid-template-rows: auto auto ;
    grid-template-columns: auto auto;
    background-image: linear-gradient(to bottom right, #544154, #332832);
    border-radius: 20px;
    grid-gap: 2%;
}
.socials_container > div {
    text-align: center;
}

.socials_title{
    margin-top: 30px;
    color: #e4e8f7;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: 400;
    font-style: normal;}

.socials_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.socials_ico{
    width: 40px;
    height: 40px;
    transition-duration: 0.2s;
}
.socials_ico:hover{
    width: 50px;
    height: 50px;
}